<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.schedulerproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchedulerProject">
        <activity
            android:name=".FirstActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DailyMainActivity" />
        <activity
            android:name=".MemoSettingActivity" />
        <activity
            android:name=".OverLapPop"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".RemoveAllPop"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".RemoveOnePop"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />

        <activity
            android:name=".MonthMainActivity" />
        <activity
            android:name=".MonthScheduleActivity" />
        <activity
            android:name=".EditMonthScheduleActivity" />

    </application>

</manifest>